################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CalenderModule/CalenderModule/bin/Debug/netcoreapp3.1
/CalenderModule/CalenderModule/obj
/CalenderModule/.vs/CalenderModule
