@model CalendarEvent.ViewModels.AdminViewModel

<style asp-src="https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.min.css"></style>
<h1>Calendar</h1>
<div class="Container">
    <div id="calendar"></div>
</div>
<script at="Foot" asp-src="https://cdn.jsdelivr.net/npm/@@fullcalendar/core@4.2.0/main.min.js"></script>
<script at="Foot" asp-src="https://cdn.jsdelivr.net/npm/@@fullcalendar/daygrid@4.2.0/main.js"></script>
<script at="Foot" asp-src="https://cdn.jsdelivr.net/npm/@@fullcalendar/interaction@4.2.0/main.js"></script>
<script type="text/javascript">
    var eventsArray = [
        {
            title: 'event1',
            start: '2019-07-20'
        },
        {
            title: 'event2',
            start: '2019-08-05',
            end: '2019-08-07'
        },
        {
            title: 'event3',
            start: '2019-09-03'
        },
        {
            title: 'event3',
            start: '2019-10-05'
        }
    ];

    document.addEventListener('DOMContentLoaded', function () {
        var calendarEl = document.getElementById('calendar');

        var calendar = new FullCalendar.Calendar(calendarEl, {
            height: 600,
            plugins: ['dayGrid', 'interaction'],

            dateClick: function (info) {
                alert('Clicked on: ' + info.dateStr);

                eventsArray.push({
                    date: info.dateStr,
                    title: "test event added from click"
                });

                calendar.refetchEvents();
            },

            eventClick: function (info) {
                alert(info.event.title)
            },

            events: function (info, successCallback, failureCallback) {
                successCallback(eventsArray);
            }
        });

        calendar.render();
    });
</script>
